<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List</title>
</head>
<body>
    <div class="container">
        <h1>TODO List</h1>
        <form id="taskForm">
            <input type="text" id="taskInput" placeholder="Saisir une tâche">
            <button type="submit">Ajouter</button>
        </form>
        <ul id="taskList"></ul>
    </div>

    <script src="model.js"></script>
    <script src="view.js"></script>
    <script src="controller.js"></script>
</body>
</html>