<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>TODO List</title>
</head>
<body>
    <div class="container">
        <h1>TP Archi Applicatives </h1>
        <form id="taskForm">
            <input type="text" id="taskInput" class="form-control" placeholder="Saisir une tâche">

            <label for="prioritySelect">Priorité:</label>
            <select class="form-control" id="prioritySelect">
                <option value="low">Travail</option>
                <option value="medium">Maison</option>
                <option value="high">Divers</option>
            </select>
            
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
        <ul id="taskList"></ul>
    </div>

    <script src="../model/model.js"></script>
    <script src="../view/view.js"></script>
    <script src="../view/low_task_view.js"></script>
    <script src="../view/medium_task_view.js"></script>
    <script src="../view/high_task_view.js"></script>
    <script src="../controller/controller.js"></script>


</body>
</html>